#aje{
 background-image:url("/image/download.jpeg");

 background-repeat:no-repeat;
background-size:cover;
width:100%;
height:800px;

}
#mimi{
 background-image:url("/image/download (1).jpeg);

 background-repeat:no-repeat;
background-size:cover;
width:100%;
height:800px;

}
#toto{
 background-image:url("/image/download (2).jpeg");

 background-repeat:no-repeat;
background-size:cover;
width:100%;
height:800px;

}
#both{
 background-image:url("/image/download (3).jpeg);

 background-repeat:no-repeat;
background-size:cover;
width:100%;
height:800px;
font-size:20px;
text-align:center;
color:wheat;
}
form{
padding-top:250px;
text-align:center;
font-size:30px;
}