{{#partial "content"}}
<div id="toto">
        <form action="/depart/new" method="post">
            <div class="form-group">
                <label for="depar">Department name</label><br>
                <input type="text"  placeholder="Enter department name" name="name">
            </div>
              <div class="form-group">
                 <label for="descri">Description</label><br>
                <input type="text"  placeholder="Enter Description" name="description">
            </div>
            <div class="form-group">
                   <label for="employee">Number of Employees</label><br>
                  <input type="text"  placeholder="Enter employee number" name="emplonbr">
             </div>

           <div >
                          <button type="submit" class="btn btn-primary mb-2">Submit</button>
                      </div>
                  </form>
                  </div>
          {{/partial}}
          {{>layout.hbs}}