{{#block "Header"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{#block "title"}}Animal{{/block}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">

    </head>
{{/block}}
<body>
<div class="container-fluid">
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">HOME</a></li>
    <li role="presentation"><a href="/depart/new">DEPARTMENT</a></li>
    <li role="presentation"><a href="/users/new">USERS</a></li>
     <li role="presentation"><a href="/news/new">NEWS</a></li>
</ul>
<!--begin main template-->
    {{#block "content"}}
    {{/block}}

</div>
<!--end main template-->
{{#block "footer"}}
    </div>
    </body>
    </html>
    {{/block}}